.option{
    justify-content: center;
    align-items: center;
}
body{
    background-color:maroon;
     position:relative;
     min-height: 100vh;
    /* justify-content: center; */
    /* align-items: center; */
}

*{
  box-sizing: border-box;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
}
.draggable{
    /* width: fit-content; */
    /* display:inline-block; */
}

.dropBox{
    width:200px;
    height:80px;
    display:flex;
    align-items:center;
    background-color: rgba(255, 0, 0, 0.756);
    color:white;
    justify-content:center;
    border-radius: 5px;
    border:5px solid black;
    margin-top:20px;
    /* background-color: red;
    color:white;
    padding:5px;
    border-radius: 5px;
    border:5px solid black; */
}

h3{
    color:white;
}

.dragon{

}
button{

}

.gallery{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    overflow-y:auto;
    width: 70%;
    height:200px;
    margin-bottom: 10px;
    position: relative;
    /* width:1.2em; */
    /* height:1.2em; */
    
}

.reorder{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    overflow-y:auto;
    width: 70%;
    height:200px;
    margin-bottom: 10px;
    position:relative;
    
    /* width:50rem; */
    /* height:10rem; */
    
}
.galleryContainer{
    border:5px solid green;
    margin:5px;
    padding:10px;
}
#reorder{
    /* width:100%; */
    /* height:120px; */
    /* margin-top:0px; */
    background-color: gray;
}
.card{
    border:5px solid green;
    /* display: flex; */
    align-items: center;
    height: auto;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}
.card img{
    width:100px;
    height:100px;
    overflow:hidden;
    object-fit: cover;
    /* margin-right: 5px; */
    /* margin-top:10px; */
    border-radius:5px;
}
.select{
    position:absolute;
    /* top:8px;/*not working for absolute don't know why */
     /* left:8px; */ 
    z-index:2;
}

#slideShow{
    width:200px;
    height:200px;
    border:5px solid green;
}

#slideShow img{
    width:100%;
    height:100%;

}
